<%= form_for @user do |f| -%>

<dl id="users-form">
  <dt><%= label_tag 'login', "Username" %></dt>
  <dd>
    <%= f.text_field :login %>
    <span class="highlighted"><%= @user.errors[:login].join(" and ")%></span>
  </dd>

  <dt><%= label_tag 'role', 'Role'%></dt>
  <dd>
    <%= f.select(:role, user.valid_roles.collect {|r| [r.to_s.capitalize, r.to_s]}, :selected => (@user.role.blank? ? "admin" : @user.role)) %>
    <span class="highlighted"><%= @user.errors[:role].join(" and ")%></span>
  </dd>

  <dt>&nbsp;</dt>
  <dd><%= submit_tag "#{form_action.capitalize} user" %></dd>
</dl>
<% end -%>
